setuptools_scm
jupyter
jupyterlab
sphinx
matplotlib
pandas
scipy
scikit-learn
dill
yml
pyyaml
pip
corner
tables-io
qp-prob
pzflow
ceci
pyarrow
tables
h5py
minisom
somoclu
pathos
hyperbolic@git+https://github.com/jlvdb/hyperbolic
