setuptools_scm
jupyter
jupyterlab
numpy
sphinx
matplotlib
pandas
scipy
scikit-learn
dill
yml
pyyaml
pip
corner
tables-io
qp@git+https://github.com/LSSTDESC/qp
pzflow
ceci
pyarrow
tables
DESC_BPZ@git+https://github.com/LSSTDESC/DESC_BPZ
FlexCode
h5py
hyperbolic@git+https://github.com/jlvdb/hyperbolic
