AB/El_B2004a.DC2LSST_*.AB
AB/Im_B2004a.DC2LSST_*.AB
AB/SB2_B2004a.DC2LSST_*.AB
AB/Sbc_B2004a.DC2LSST_*.AB
AB/Scd_B2004a.DC2LSST_*.AB
AB/ssp_25Myr_z008.DC2LSST_*AB
AB/ssp_5Myr_z008.DC2LSST_*AB
AB/SB3_B2004a.DC2LSST_*.AB
